<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>首页</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <meta name="description" content="describle" />

    <link rel="stylesheet" href="../static/lib/weui.css" />
    <link rel="stylesheet" href="../static/css/jquery-weui.css" />
    <style>
        .placeholder {
            margin: 0px;
            padding: 0 5px;
            /*background-color: #ebebeb;*/
            height: 2.5em;
            line-height: 2.3em;
            text-align: center;
            color: #cfcfcf;
        }


        .diamand img{
            width: 7.25em;
            height: 7.0em;
        }
    </style>
    <script src="../static/js/jquery-weui.js"></script>
</head>
<!--<body =ontouchstart>-->
<body>

<div class="weui-flex">
    <div class="weui-flex__item" style="background-color: rgb(173,0,0);">
        <div class="placeholder">
            <label style="color: white">很遗憾，您还不是超级会员！</label>
        </div>
    </div>
</div>

<div class="weui-flex" style="margin-top:0;border: 1px solid rgb(173,0,0);">
    <div class="weui-flex__item">,
        <div class="weui-flex">
            <div class="weui-flex__item">
                <div class="placeholder">
                    <input type="hidden" name="userid" id="userid" th:value="${user.id}" />
                    <label style="color: red">超级会员专享特权</label>
                </div>
            </div>
        </div>
        <div class="weui-flex" style="margin-top:0.025em">
            <div class="weui-flex__item"><div id="d1" class="diamand"  style="text-align: center"><img src="../static/images/diamond.png" />舆情分析</div></div>
            <div class="weui-flex__item"><div id="d2" class="diamand"  style="text-align: center"><a href="/report"><img src="../static/images/diamond.png" />行业报告</a></div></div>
            <div class="weui-flex__item"><div id="d3" class="diamand"  style="text-align: center"><img src="../static/images/diamond.png" />智能预测</div></div>
        </div>
        <div class="weui-flex" style="margin-top:0.025em">
            <div class="weui-flex__item"><div id="d4" class="diamand" style="text-align: center"><img src="../static/images/diamond.png" />精准内参</div></div>
            <div class="weui-flex__item"><div id="d5" class="diamand"  style="text-align: center"><a href="/recommand"><img src="../static/images/diamond.png" />牛股推荐</a></div></div>
            <div class="weui-flex__item"><div id="d6" class="diamand"  style="text-align: center"><img src="../static/images/diamond.png" />专家点评</div></div>
        </div>


        <div class="weui-panel" style=" text-align:center;border: 1px solid rgb(173,0,0);width: 80%; padding: 5px 0px;margin: 15px 15px 25px 15px ">
            <div class="weui-flex" style="flex: 4;">
                <div class="weui-flex__item" style="flex: 1;margin-right: 1px;height: 2em;">
                    <div id="flush" style=" background:url('../static/images/circle.png') no-repeat center 0;background-size:50% 90%;-moz-background-size:50% 90%;text-align: center">
                        <img src="../static/images/flush.png" style="width: 3em;height: 3em;" />
                    </div>
                </div>
                <div class="weui-flex__item" style="flex: 3">
                    <div class="weui-flex">
                        <div class="weui-flex__item"><label>超级会员续费限时折扣！</label></div>
                    </div>
                    <div class="weui-flex" style="text-align: center" >
                        <div class="weui-flex__item" style="background-color: rgb(173,0,0)"><label>3个月8折！6个月6折！</label></div>
                    </div>
                </div>
            </div>
            <div class="weui-flex" style="flex:4">
                <div class="weui-flex__item" style="flex: 1;text-align: center">
                    <label>3个月：</label>
                </div>
                <div class="weui-flex__item" style="flex: 3">
                    原价10元，现价8元！
                </div>
            </div>
            <div class="weui-flex" style="flex: 4;">
                <div class="weui-flex__item" style="flex: 1; text-align: center">
                    <label >6个月：</label>
                </div>
                <div class="weui-flex__item" style="flex: 3">
                    原价20元，现价12元！
                </div>
            </div>
        </div>

        <div class="weui-flex" style="text-align: center" >
            <div class="weui-flex__item"style="margin: 0.3em"><a href="order/1" class="weui-btn weui-btn_warn">续费3个月</a></div>
            <div class="weui-flex__item" style="margin: 0.3em"><a href="order/2" class="weui-btn weui-btn_warn">续费6个月</a></div>
        </div>
    </div>
</div>


</body>
</html>