<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>zhengbing  first boot html</title>

    <link href="/static/plugins/bootstrap/css/bootstrap.css" />
    <link href="/static/plugins/bootstrap/css/bootstrap-theme.css" />
    <script src="/static/plugins/jquery/jquery.js"></script>
    <script src="/static/plugins/bootstrap/js/bootstrap.js"></script>

</head>
<body style="margin: 0px; padding: 0px;">

<div class="container">
    <div class="panel" style="background-image: url('/static/images/red_bg.png');background-repeat: no-repeat;background-size: 100% 100%;height: 100%;">
        <div class="row">
            <!--<div class="col-xs-2 text-center"><img src="/static/images/title-left-jt.png" /></div>-->
            <div class="col-xs-12" ><label style="color: white; margin: 10px;text-align: center">我的会员</label></div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="headicon">1</div>
        </div>
        <div class="row">
            <div class="col-xs-4" id="nickname">1</div>
            <div class="col-xs-2" id="vipimage">1</div>
            <div class="col-xs-4" id="star">1</div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="expiretime">1</div>
        </div>
    </div>
</div>


</body>
</html>